# Root files
index.md
.DS_Store

# Instruction files
instructions/

# Folders to ignore
integrations/
solutions/
pricing/
legal/

# Ignore specific files
resources/index.md
blog/index.md
support/index.md
company/index.md

# Ignore Cursor workspace settings
.cursor/ 